on-early-init
    export EXTERNAL_STORAGE /mnt/sdcard
    mkdir /mnt/sdcard 0000 system system
    symlink /mnt/sdcard /sdcard

on post-fs-data
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp

on boot
    setprop ARGH ARGH
    setprop ro.radio.use-ppp no
    setprop ro.com.google.locationfeatures 1

service genyd /system/bin/genyd
    disabled
    oneshot

on boot
    start genyd

service dhcpcd_eth1 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_eth1 /system/bin/dhcpcd -n
    disabled
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant -ieth1 -Dwired -c/data/misc/wifi/wpa_supplicant.conf -e/data/misc/wifi/entropy.bin
    class main
    socket wpa_eth1 dgram 660 wifi wifi
    disabled
    oneshot

